* {
  margin: 0;
  padding: 0;
}

@font-face {
  src: url("/fonts/Lato/Lato-Regular.ttf");
  font-family: Lato;
}

@font-face {
  src: url("/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
  font-family: Work Sans;
}

html {
  scroll-behavior: smooth !important;
}

.btn-transform:hover {
  -webkit-box-shadow: rgba(3, 16, 26, 0.25) 0 -25px 18px -14px inset, rgba(3, 16, 26, 0.25) 0 1px 2px, rgba(3, 16, 26, 0.25) 0 2px 4px, rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px, rgba(44, 187, 99, 0.25) 0 16px 32px;
          box-shadow: rgba(3, 16, 26, 0.25) 0 -25px 18px -14px inset, rgba(3, 16, 26, 0.25) 0 1px 2px, rgba(3, 16, 26, 0.25) 0 2px 4px, rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px, rgba(44, 187, 99, 0.25) 0 16px 32px;
  -webkit-transform: scale(1.05) rotate(-1deg);
          transform: scale(1.05) rotate(-1deg);
  color: #6D7073;
}

.main-head-pf {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  color: #03101A;
}

.site {
  width: 1600px;
  height: auto;
  font-size: 16px;
}

.site > .header {
  width: 100%;
  height: auto;
  background-color: #1F98F0;
  color: #fff;
  overflow: hidden;
}

.site > .header > .navbar {
  width: 100%;
  margin-top: 20px;
  background-color: transparent;
}

.site > .header > .navbar > .container-fluid > .navbar-brand {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 30.95px;
  color: #fff;
}

.site > .header > .navbar > .container-fluid > .navbar-collapse > .navbar-nav > .nav-item > .nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.7;
  margin-left: 50px;
}

.site > .header > .navbar > .container-fluid > .navbar-collapse > .navbar-nav > .nav-item > :hover, .site > .header > .navbar > .container-fluid > .navbar-collapse > .navbar-nav > .nav-item :active .nav-link {
  cursor: pointer;
  opacity: 1;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.site > .header > .navbar > .container-fluid > .navbar-collapse > form > button {
  width: 185px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 10px;
  color: #03101A;
  font-size: 18px;
  border: none;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.site > .header > .header_home {
  width: 100%;
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site > .header > .header_home > .header_home_content-left {
  width: 40%;
  height: auto;
  margin-top: 240px;
}

.site > .header > .header_home > .header_home_content-left > h2 {
  font-weight: bold;
  font-size: 51px;
  line-height: 130%;
  color: #fff;
}

.site > .header > .header_home > .header_home_content-left > p {
  margin-top: 30px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
}

.site > .header > .header_home > .header_home_content-left > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin-top: 50px;
}

.site > .header > .header_home > .header_home_content-left > ul > li {
  list-style-type: none;
}

.site > .header > .header_home > .header_home_content-left > ul > li > a {
  text-decoration: none;
}

.site > .header > .header_home > .header_home_content-left > ul > li > a > img {
  width: 205px;
  height: 60px;
}

.site > .header > .header_home > .header_home_content-right {
  width: 680px;
  height: 790px;
  position: relative;
}

.site > .header > .header_home > .header_home_content-right > img {
  position: absolute;
}

.site > .header > .header_home > .header_home_content-right > #center-img {
  top: 0px;
  left: 125px;
}

.site > .header > .header_home > .header_home_content-right > #left-img {
  left: 30px;
  bottom: 30px;
}

.site > .header > .header_home > .header_home_content-right > #right-img {
  top: 0px;
  right: 0px;
}

.site > .features {
  width: 100%;
  height: auto;
  margin-top: 60px;
}

.site > .features > .features_logos > span {
  text-align: left;
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #03101A;
}

.site > .features > .features_logos > ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px;
  padding: 0px;
  margin-top: 45px;
}

.site > .features > .features_logos > ul > li {
  list-style-type: none;
  margin: 0px;
}

.site > .features > .features_contents {
  width: 100%;
  height: auto;
  margin-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site > .features > .features_contents > .features_contents_cont-left {
  width: auto;
}

.site > .features > .features_contents > .features_contents_cont-left > img {
  width: 335px;
  margin-left: 20px;
}

.site > .features > .features_contents > .features_contents_cont-right {
  width: 40%;
  margin-top: 90px;
  margin-left: 195px;
}

.site > .features > .features_contents > .features_contents_cont-right > div {
  margin-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site > .features > .features_contents > .features_contents_cont-right > div > .text {
  font-family: Lato;
  margin-left: 30px;
  color: #03101A;
}

.site > .features > .features_contents > .features_contents_cont-right > div > .text > h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

.site > .features > .features_contents > .features_contents_cont-right > div > .text p {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.7;
}

.site > .testimonials {
  width: 100%;
  margin-top: 75px;
  text-align: center;
}

.site > .testimonials > .testimonials_cards {
  width: 100%;
  height: auto;
  margin-top: 80px;
  padding: 0px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site > .testimonials > .testimonials_cards > .card-item {
  width: 260px;
  height: 235px;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  -webkit-transition: all 2s;
  transition: all 2s;
  color: #03101A;
}

.site > .testimonials > .testimonials_cards > .card-item > h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  margin-top: 20px;
}

.site > .testimonials > .testimonials_cards > .card-item > p {
  font-size: 16px;
  line-height: 150%;
  opacity: 0.7;
  margin-top: 20px;
}

.site > .testimonials > .testimonials_cards > .card-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.site > .download-now {
  width: 100%;
  height: 265px;
  margin-top: 80px;
  background-color: #1F98F0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site > .download-now > h2 {
  font-family: Lato;
  font-weight: bold;
  font-size: 38px;
  line-height: 100%;
}

.site > .download-now > button {
  width: 225px;
  height: 60px;
  border-radius: 10px;
  border: none;
  color: #03101A;
}

.site > .update-news {
  width: 100%;
  height: auto;
  margin-top: 120px;
  text-align: center;
}

.site > .update-news > .update-news_cards {
  width: 100%;
  height: auto;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site > .update-news > .update-news_cards > .card-item {
  width: 360px;
  height: 440px;
  font-family: Lato;
  text-align: left;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.site > .update-news > .update-news_cards > .card-item > img {
  width: 360px;
  height: 235px;
}

.site > .update-news > .update-news_cards > .card-item > h5 {
  margin-top: 25px;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #03101A;
}

.site > .update-news > .update-news_cards > .card-item > p {
  width: 310px;
  margin-top: 15px;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #6D7073;
  opacity: 0.7;
}

.site > .update-news > .update-news_cards > .card-item > a {
  margin-top: 30px;
  display: block;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #1F98F0;
}

.site > .update-news > .update-news_cards > .card-item:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0px  0px 10px #03101A;
          box-shadow: 0px  0px 10px #03101A;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.site > .footer {
  width: 100%;
  height: auto;
  background-color: #03101A;
  font-family: Lato;
  color: #fff;
  margin-top: 130px;
  padding: 100px 0px;
}

.site > .footer > .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site > .footer > .container ul > li {
  list-style-type: none;
}

.site > .footer > .container ul > li > h4 {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 30px;
}

.site > .footer > .container ul > li > h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 30px;
}

.site > .footer > .container ul > li > p {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.7;
}

.site > .footer > .container ul > li > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.site > .footer > .container ul > li > form > input[type="email"] {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 230px;
  height: 40px;
  border: none;
  outline: none;
}

.site > .footer > .container ul > li > form > input[type="email"] > ::-webkit-input-placeholder {
  font-size: 14px;
  color: #03101A;
  opacity: 0.7;
}

.site > .footer > .container ul > li > form > input[type="email"] > :-ms-input-placeholder {
  font-size: 14px;
  color: #03101A;
  opacity: 0.7;
}

.site > .footer > .container ul > li > form > input[type="email"] > ::-ms-input-placeholder {
  font-size: 14px;
  color: #03101A;
  opacity: 0.7;
}

.site > .footer > .container ul > li > form > input[type="email"] > ::placeholder {
  font-size: 14px;
  color: #03101A;
  opacity: 0.7;
}

.site > .footer > .container ul > li > form > input[type="submit"] {
  width: 130px;
  height: 40px;
  background: #1F98F0;
  border: none;
  outline: none;
  font-weight: normal;
  font-size: 14px;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */